<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/head"></head>


<body style="height: 100vh" th:fragment="RegistrationFragment">

<header class="bg-dark" style="height: 25vh">
    <img th:src="@{/images/spring.svg}" height="150px"
         alt="logo" class="centered">
</header>

<main class="container col-sm-10 col-md-4 col-lg-3" style="height: 50vh">
    <div class="container text-center">
    <form id="registrationForm" th:object="${user}" method="post" th:action="@{/registration}">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input name="username" type="text" class="form-control m-1"
               autofocus autocomplete="off" aria-label="">

        </div>
        <div class="mb-3">

            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   th:field="*{email}" autocomplete="off">
            <div class="invalid-feedback d-inline-block" th:if="${#fields.hasErrors('email')}">
                <ul class="m-0">
                    <li th:each="err:${#fields.errors('email')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}">
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" th:field="*{passwordConfirm}" autocomplete="off">
            <div class="invalid-feedback d-inline-block" th:if="${#fields.hasErrors('passwordConfirm')}">
                <ul class="m-0">
                    <li th:each="err:${#fields.errors('passwordConfirm')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <button onclick="registration($('#registrationForm'),$('#myModal'))" class="btn btn-primary w-25 m-2"
                th:height="50" type="submit">Submit
        </button>
    </form>
        <script>
                            function register(form) {
    document.getElementById('mainSpinner').classList.remove("d-none");
    $.ajax(
        {
            type: "POST",
            data: form.serialize(), //data to be sent
            cache: false,
            url: "/register",
            success: function (data) {
                console.log(data);
                // show success message or redirect to login page
                $('body').html(data);
            },
            error: function (data) {
                $('#registerError').text(data.responseText); //to get the response body
                console.error(data);
                document.getElementById('mainSpinner').classList.add("d-none");
            }
        });
}

        </script>
<!--    <div class="text-center">-->

<!--        <button onclick="registration($('#registrationForm'),$('#myModal'))" class="btn btn-primary w-25 m-2"-->
<!--                th:height="50" type="submit">Submit-->
<!--        </button>-->

<!--        <button class="btn btn-secondary m-1" onclick="registerUser($('#registrationForm'))"-->
<!--                href="registration" style="width: 10vw">Register</button>-->
<!--    </div>-->
    </div>
</main>

<footer class="bg-dark" style="height: 25vh">
    <div class="container py-4">
        <p class="text-muted mb-0 py-2 text-center">© 2023 Yeshtery All rights reserved.</p>
    </div>
</footer>

</body>
</html>