<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration Complete</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title text-center">Registration Complete!</h1>
          <hr>
          <p class="card-text text-center">Thank you for registering with our website. You can now login to your account using the link below.</p>
          <div class="text-center">
            <a href="/login" class="btn btn-primary">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>